{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookmarks | ACT - American College Of Technology </title>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
    {% include 'include/head.html' %}
  </head>

  <body>
		<div class="mt-5">{% include 'include/navbar.html'%}</div>
    <div id="main-wrapper">
      <div class="dashboard-wrap bg-light">
		 <!--Left Navbar-->
		{% include 'RMS/user/include/user-dashboard.html'%}
        <div class="dashboard-content">
          <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
              <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Saved Jobs</h1>
              </div>
            </div>

                      <!--Messages-->
          <div class="row d-flex  justify-content-center">
            <div class="col-8">
              
               {% if messages %}
               <ul class="messages">
                   {% for message in messages %}
                   <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}  alert-dismissible">
                     <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      {{message}}
                   </div>
                   {% endfor %}
               </ul>
               {% endif %}
            </div>
          </div>
          <!--End Message-->
          
          </div>

          <div class="dashboard-widg-bar d-block mb-5">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="cl-justify">
                  <div class="cl-justify-first">
                    <p class="m-0 p-0 ft-sm">
                      You have {{bookmarks.filter.all.count}} jobs bookmarked.
                    </p>
                  </div>

                  <div class="cl-justify-last">
                    <div class="d-flex align-items-center justify-content-left">
                      <div class="dlc-list">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="mb-4 tbl-lg rounded overflow-hidden">
                  <div class="table-responsive bg-white">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Job Title</th>
                          <th scope="col">Vacancies</th>
                          <th scope="col">Close Date</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <table id="example" class="display " style="width:100%">
                          <thead>
                              <tr>
                                  <th>Job Title</th>
                                  <th>Vacancies</th>
                                  <th>Close Date</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody class="bg-white">
                            {% for book in bookmarks %}
                            <tr class="bg-white">
                              <td class="bg-white">
                                <div class="cats-box rounded d-flex align-items-center">
                                  <div class="text-center">
                                    
                                  </div>
                                  <div class="cats-box-caption px-2">
                                    <h4 class="fs-md mb-0 ft-medium">
                                      {{book.job.title}}
                                    </h4>
                                    <div class="d-block mb-2 position-relative">
                                      <span class="muted medium ms-2 theme-cl"><i class="lni lni-briefcase me-1"></i>{{book.job.get_type_display}}</span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span>{{ book.job.vacancies}}</span>
                              </td>
                              <td>
                                <span>{{ book.job.date_closed }}</span>
                              </td>
                              <td><span class="text-info">{%if book.job.job_status%}Active{% else%} Closed {% endif%}</span></td>

                              <td>
                                <div class="dash-action">
                                  <a
                                    href="{% url 'Job-detail' book.job.slug %}"
                                    class="p-2 circle text-info bg-light-info d-inline-flex align-items-center justify-content-center me-1"
                                    ><i class="lni lni-eye"></i
                                  ></a>
                                  <a href="{% url 'user-delete-bookmark' book.job.slug%}"
                                    class="btn p-2 circle  btn-danger d-inline-flex align-items-center justify-content-center ms-1"
                                    ><i class="lni lni-trash-can"></i
                                  ></a>
                                </div>
                              </td>
                              
                            </tr>
                            {% endfor %}
                             
                          </tbody>
                      </table>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- ======================= dashboard Detail End ======================== -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
    {% include 'include/footer.html' %} 
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
      new DataTable('#example');
    </script>
    {% include 'include/footerjs.html' %} 
  </body>
</html>
