{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Change Password | ACT - American College Of Technology </title>
	<link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    {% include 'include/head.html' %}
  </head>

  <body>
		<div class="mt-5">{% include 'include/navbar.html'%}</div>
      <div class="dashboard-wrap bg-light pt-3">
		 <!--Left Navbar-->
		 {% include 'RMS/user/include/user-dashboard.html'%}
        <div class="dashboard-content">
          <div class="dashboard-tlbar d-block ">
            <div class="row">
              <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Change Password</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="theme-cl">Change Password</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          <div class="dashboard-widg-bar d-block">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="_dashboard_content bg-white rounded mb-4">
                  <div class="_dashboard_content_header br-bottom py-3 px-3">
                    <div class="_dashboard__header_flex">
                      <h4 class="mb-0 ft-medium fs-md">
                        <i class="fa fa-lock me-1 theme-cl fs-sm"></i>Change
                        Password
                      </h4>
                    </div>
                  </div>

                  <div class="_dashboard_content_body py-3 px-3">
                    <form class="row">
                      <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label class="text-dark ft-medium"
                            >Old Password</label
                          >
                          <input
                            type="text"
                            class="form-control rounded"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label class="text-dark ft-medium"
                            >New Password</label
                          >
                          <input
                            type="text"
                            class="form-control rounded"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label class="text-dark ft-medium"
                            >Confirm Password</label
                          >
                          <input
                            type="text"
                            class="form-control rounded"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12">
                        <div class="form-group">
                          <button
                            type="button"
                            class="btn btn-md ft-medium text-light rounded theme-bg"
                          >
                            Save Changes
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ======================= dashboard Detail End ======================== -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>

    {% include 'include/footer.html' %} 
    {% include 'include/footerjs.html' %}  
  </body>
  </html>
