{% load static %}
<!DOCTYPE html>
<html lang="en" data-footer="true">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <title>ACT American College OF Technology | JOB List</title>
    <meta name="description" content="Ecommerce Products List" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
  />
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
  </style>
    {% include 'admin-user/include/head.html'%}
    {{form.media}} 
  </head>
  <body>
    <div id="root">     
      <!-- Modal -->
      <div class="modal fade" id="addJobBoard" tabindex="-1" aria-labelledby="addJobBoardLabel" aria-hidden="true">
        <form action="" method="post">{% csrf_token %}
        <div class="modal-dialog  modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addJobBoardLabel">Add JOB Board</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="mb-5">
                    <h2 class="small-title">JOB Info</h2>
                    <div class="card">
                      <div class="card-body">
                          <div class="mb-3">
                            <label class="form-label">Title {% for err in form.title.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.title}}
                          </div>
                          <div class="mb-3">
                            
                            <label class="form-label">Sector {% for err in form.sector.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.sector}}
                          </div>
                          <div class="mb-3 w-100">
                            <label class="form-label">Description {% for err in form.description.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.description}}
                          </div>
    
                          <div class="mb-3 row">
                            <div class="col-6">
                              <label class="form-label">Experience {% for err in form.experience.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                              {{form.experience}}
                            </div>
                            <div class="col-6">
                              <label class="form-label">Job Type {% for err in form.type.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                              {{form.type}}
                            </div>
                          </div>
    
                          <div class="mb-3">
                            <label class="form-label">Skills {% for err in form.skills.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.skills}}
                          </div>
    
    
                          <div class="row">
                            <div class="col-6">
                               <div class="mb-3">
                                <label class="form-label">Location {% for err in form.location.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                                  {{form.location}}
                               </div>
                              </div>
                            <div class="col-6">
                          <div class="mb-3">
                            <label class="form-label">Vacancies {% for err in form.vacancies.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.vacancies}}
                          </div>
                        </div>
                      </div>


                          <div class="row">
                            <div class="col-6">
                              <div class="mb-3">
                                <label class="form-label">Start {% for err in form.salary_range_start.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                                {{form.salary_range_start}}
                              </div>
    
                            </div>
                            <div class="col-6">
                              <div class="mb-3">
                                <label class="form-label">Final {% for err in form.salary_range_final.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                                {{form.salary_range_final}}
                              </div>
                            </div>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Open {% for err in form.job_status.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.job_status}}
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Close Date {% for err in form.date_closed.errors%} <small class="text-danger">{{err}}</small> {% endfor %} </label>
                            {{form.date_closed}}
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-muted" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </form>
        </div>
      </div>
        {% include 'admin-user/include/navbar.html'%}
      <main>
        <div class="container">    
          <div class="page-title-container">
            <div class="row g-0">
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}  alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                     {{message}}
                  </div>
                  {% endfor %}
              </ul>
              {% endif %}

              <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                  <a
                    href="{% url 'admin-dashboard'%}"
                    class="muted-link pb-1 d-inline-block breadcrumb-back"
                  >
                    <i data-acorn-icon="chevron-left" data-acorn-size="13"></i>
                    <span class="text-small align-middle">Home</span>
                  </a>
                  <h1 class="mb-0 pb-0 display-4" id="title">Job List</h1>
                </div>
              </div>
              <div class="w-100 d-md-none"></div>
              <div
                class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3"
              >
                <button
                  type="button"
                  class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto"
                  data-bs-toggle="modal" data-bs-target="#addJobBoard"
                >
                  <i data-acorn-icon="plus"></i>
                  <span>Add JOB</span>
                </button>
                <div class="dropdown d-inline-block d-lg-none">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-icon btn-icon-only ms-1"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i data-acorn-icon="sort"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end custom-sort">
                    <a class="dropdown-item sort" data-sort="name" href="#"
                      >Title</a
                    >
                    <a class="dropdown-item sort" data-sort="email" href="#"
                      >Experience</a
                    >
                    <a class="dropdown-item sort" data-sort="phone" href="#"
                      >Price</a
                    >
                    <a class="dropdown-item sort" data-sort="group" href="#"
                      >Status</a
                    >
                  </div>
                </div>
                <div class="btn-group ms-1 check-all-container-checkbox-click">
                  <div
                    class="btn btn-outline-primary btn-custom-control p-0 ps-3 pe-2"
                    data-target="#checkboxTable"
                  >
                    <span class="form-check float-end">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="checkAll"
                      />
                    </span>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-offset="0,3"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></button>
                  <div class="dropdown-menu dropdown-menu-end">
                    <button
                      class="dropdown-item"
                      id="deleteChecked"
                      type="button"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
              <div
                class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground"
              >
                <input class="form-control" placeholder="Search" />
                <span class="search-magnifier-icon">
                  <i data-acorn-icon="search"></i>
                </span>
                <span class="search-delete-icon d-none">
                  <i data-acorn-icon="close"></i>
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-9 col-xxl-10 text-end mb-1">
              <div class="d-inline-block">
                <button
                  class="btn btn-icon btn-icon-only btn-foreground-alternate shadow"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-delay="0"
                  title="Print"
                  type="button"
                >
                  <i data-acorn-icon="print"></i>
                </button>
                <div class="d-inline-block">
                  <button
                    class="btn p-0"
                    data-bs-toggle="dropdown"
                    type="button"
                    data-bs-offset="0,3"
                  >
                    <span
                      class="btn btn-icon btn-icon-only btn-foreground-alternate shadow dropdown"
                      data-bs-delay="0"
                      data-bs-placement="top"
                      data-bs-toggle="tooltip"
                      title="Export"
                    >
                      <i data-acorn-icon="download"></i>
                    </span>
                  </button>
                  <div class="dropdown-menu shadow dropdown-menu-end">
                    <button class="dropdown-item export-copy" type="button">
                      Copy
                    </button>
                    <button class="dropdown-item export-excel" type="button">
                      Excel
                    </button>
                    <button class="dropdown-item export-cvs" type="button">
                      Cvs
                    </button>
                  </div>
                </div>
                <div
                  class="dropdown-as-select d-inline-block"
                  data-childselector="span"
                >
                  <button
                    class="btn p-0 shadow"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-offset="0,3"
                  >
                    <span
                      class="btn btn-foreground-alternate dropdown-toggle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      data-bs-delay="0"
                      title="Item Count"
                    >
                      10 Items
                    </span>
                  </button>
                  <div class="dropdown-menu shadow dropdown-menu-end">
                    <a class="dropdown-item" href="#">5 Items</a>
                    <a class="dropdown-item active" href="#">10 Items</a>
                    <a class="dropdown-item" href="#">20 Items</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

                    
          <div class="row">
            <div class="col-12 mb-5">
              <div class="card mb-2 bg-transparent no-shadow d-none d-lg-block">
                <div class="row g-0 sh-3">
                  <div class="col">
                    <div class="card-body pt-0 pb-0 h-100">
                      <div class="row g-0 h-100 align-content-center">
                        <div
                          class="col-lg-1 d-flex align-items-center mb-2 mb-lg-0 text-muted text-small"
                        >
                          ID
                        </div>
                        <div
                          class="col-lg-2 d-flex align-items-center text-muted text-small"
                        >
                          Title
                        </div>
                        <div
                          class="col-lg-2 d-flex align-items-center text-muted text-small"
                        >
                          Experience
                        </div>
                        <div
                          class="col-lg-3 d-flex align-items-center text-muted text-small"
                        >
                          Salary
                        </div>
                        <div
                          class="col-lg-2 d-flex align-items-center text-muted text-small"
                        >
                          Applicant
                        </div>
                        <div
                          class="col-lg-2 d-flex align-items-center text-muted text-small"
                        >
                          STATUS
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="checkboxTable">
                {% if job_list %}
                {% for job in job_list %}
                <div class="card mb-2">
                  
                  <div class="card-body pt-0 pb-0 sh-30 sh-lg-8">
                    <div class="row g-0 h-100 align-content-center">
                      <div
                        class="col-11 col-lg-1 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-1 order-lg-1 h-lg-100 position-relative"
                      >
                        <div class="text-muted text-small d-lg-none">Id</div>
                        <a
                          href="{% url 'job-detail-admin' job.slug %}"
                          class="text-truncate h-100 d-flex align-items-center"
                          >{{job.id}}</a
                        >
                      </div>
                      <div
                        class="col-6 col-lg-2 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-3 order-lg-2"
                      >
                        <div class="text-muted text-small d-lg-none">Title</div>
                        <div class="text-alternate">{{job.title}}</div>
                      </div>
                      <div
                        class="col-6 col-lg-2 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-5 order-lg-3"
                      >
                        <div class="text-muted text-small d-lg-none">
                          Location
                        </div>
                        <div class="text-alternate">{{job.experience}} </div>
                      </div>
                      <div
                        class="col-6 col-lg-3 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-4 order-lg-4"
                      >
                        <div class="text-muted text-small d-lg-none">Salary</div>
                        <div class="text-alternate">
                          <span>
                            ${{job.salary_range_start}} - ${{job.salary_range_final}}
                          </span>
                        </div>
                      </div>
                      <div
                        class="col-6 col-lg-2 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-5 order-lg-4"
                      >
                        <div class="text-muted text-small d-lg-none">
                          Applicant
                        </div>
                        <div class="text-alternate">
                          <a
                            class="text-truncate h-100 d-flex align-items-center"
                            >{{job.count_applicant}}  <span><button class="btn btn-sm btn-info m-0 p-1 ms-3">{{job.get_type_display}}</button></span></a>
                           
                        </div>
                      </div>
                      <div
                        class="col-12 col-lg-1 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-last order-lg-5"
                       >
                        <div class="text-muted text-small d-lg-none mb-1">
                          Status
                        </div>
                        <div class="text-alternate">
                          <span>
                            {% if job.job_status %}
                               <button type="button" class="btn btn-sm btn-primary">Opened</button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-danger">Closed</button>
                            {% endif %}
                          </span>
                        </div>
                      </div>
                      <div
                        class="col-1 col-lg-1 d-flex flex-column justify-content-center align-items-lg-end mb-2 mb-lg-0 order-2 text-end order-lg-last"
                      >
                        <label class="form-check float-end mt-1">
                          <input type="checkbox" class="form-check-input" />
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
                {% endfor %}
                {% endif %}

              </div>
            </div>
          </div>
 
 
          <!--pagination-->
          <div class="d-flex justify-content-center">            
            <nav>
              <ul class="pagination">
            {% if not job_list.has_previous %}
              <li class="page-item disabled"> 
                <a class="page-link shadow" href="#"  tabindex="-1" aria-disabled="true"> 
                  <i data-acorn-icon="chevron-left"></i>
                </a>
              </li>
            {% endif %}


            {% if job_list.has_previous %}
            <li class="page-item"> 
              <a class="page-link shadow" href="?page={{ job_list.previous_page_number }}" > 
                <i data-acorn-icon="chevron-left"></i>
              </a>
            </li>
            <li class="page-item">
               <a class="page-link shadow" href="?page={{ job_list.previous_page_number }}">{{ job_list.previous_page_number }}</a>
            </li>
            {% endif %}

                <li class="page-item active">
                  <a class="page-link shadow" href="#">{{job_list.number}}</a>
                </li>

            {% if job_list.has_next %}
            <li class="page-item">
               <a class="page-link shadow" href="?page={{ job_list.next_page_number }}">{{ job_list.next_page_number }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ job_list.next_page_number }}">
                <i data-acorn-icon="chevron-right"></i>
              </a>
            </li>
            {% endif %}

            {% if not job_list.has_next%}

            <li class="page-item disabled">
              <a class="page-link" href="#"  tabindex="-1" aria-disabled="true">
                <i data-acorn-icon="chevron-right"></i>
              </a>
            </li>
            {% endif %}

              </ul>
            </nav>
          </div>
        

          <script>
            new MultiSelectTag("id_skills", {
              rounded: true, // default true
              shadow: true, // default false
              placeholder: "Search", // default Search...
              onChange: function (values) {
                console.log(values);
              },
            });

            new MultiSelectTag("id_sector", {
              rounded: true, // default true
              shadow: true, // default false
              placeholder: "Search", // default Search...
              onChange: function (values) {
                console.log(values);
              },
            });

          </script>
    {% include 'admin-user/include/footer-js.html' %}
  </body>
</html>
