{% load static %}
<!DOCTYPE html>
<html lang="en" data-footer="true">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <title>Acorn Admin Template | General Settings</title>
    <meta name="description" content="Ecommerce General Settings" />
    {% include 'admin-user/include/head.html'%}
  </head>
  <body>
    <div id="root">
        {% include 'admin-user/include/navbar.html'%}
      <main>
        <div class="container">
          <div class="page-title-container">
            <div class="row g-0">
              <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                  <a
                    href="#"
                    class="muted-link pb-1 d-inline-block breadcrumb-back"
                  >
                    <i data-acorn-icon="chevron-left" data-acorn-size="13"></i>
                    <span class="text-small align-middle">Settings</span>
                  </a>
                  <h1 class="mb-0 pb-0 display-4" id="title">
                    General Settings
                  </h1>
                </div>
              </div>
              <div class="w-100 d-md-none"></div>
              <div class="col-auto d-flex align-items-end justify-content-end">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-icon btn-icon-start"
                >
                  <i data-acorn-icon="save"></i>
                  <span>Save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row mb-n5">
            <div class="col-xl-4">
              <div class="mb-5">
                <h2 class="small-title">Details</h2>
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label class="form-label">Store Name</label>
                        <input
                          type="text"
                          class="form-control"
                          value="My Awesome Store"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input
                          type="text"
                          class="form-control"
                          value="info@myawesomestore.com"
                          disabled="disabled"
                        />
                      </div>
                      <div class="mb-0">
                        <label class="form-label">Store Description</label>
                        <textarea class="form-control" rows="5">
Dessert gummies soufflé toffee cake. Sesame snaps marzipan sesame snaps gummies oat cake sesame snaps. Cheesecake bonbon chocolate bar candy.
                      </textarea
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="mb-5">
                <h2 class="small-title">Location</h2>
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="mb-3 w-100">
                        <label class="form-label">Store Location</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="BR">BR</option>
                          <option value="DE">DE</option>
                          <option value="FR">FR</option>
                          <option value="JP" selected="selected">JP</option>
                          <option value="US">US</option>
                          <option value="UK">UK</option>
                          <option value="...">...</option>
                        </select>
                      </div>
                      <div class="mb-3 w-100">
                        <label class="form-label">Selling Location</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="BR">BR</option>
                          <option value="DE">DE</option>
                          <option value="FR">FR</option>
                          <option value="JP" selected="selected">JP</option>
                          <option value="US">US</option>
                          <option value="UK">UK</option>
                          <option value="...">...</option>
                        </select>
                      </div>
                      <div class="w-100 mb-0">
                        <label class="form-label">Shipping Location</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="BR">BR</option>
                          <option value="DE">DE</option>
                          <option value="FR">FR</option>
                          <option value="JP" selected="selected">JP</option>
                          <option value="US">US</option>
                          <option value="UK">UK</option>
                          <option value="...">...</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <h2 class="small-title">Business</h2>
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label class="form-label">Business Name</label>
                        <input
                          type="text"
                          class="form-control"
                          value="My Awesome Corp."
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input
                          type="text"
                          class="form-control"
                          value="+643451134"
                        />
                      </div>
                      <div class="mb-3 w-100">
                        <label class="form-label">Country</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="BR">Brazil</option>
                          <option value="DE">Deutschland</option>
                          <option value="FR">France</option>
                          <option value="JP" selected="selected">Japan</option>
                          <option value="US">United States of America</option>
                          <option value="UK">United Kingdom</option>
                          <option value="...">...</option>
                        </select>
                      </div>
                      <div class="mb-3 w-100">
                        <label class="form-label">City</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="Tokyo" selected="selected">
                            Tokyo
                          </option>
                          <option value="...">...</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Zip Code</label>
                        <input
                          type="text"
                          class="form-control"
                          value="160-0023"
                        />
                      </div>
                      <div class="mb-0">
                        <label class="form-label">Address</label>
                        <input
                          type="text"
                          class="form-control"
                          value="4 Chome-38-5 Nishishinjuku, Shinjuku City"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <h2 class="small-title">Currency Options</h2>
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="mb-3 w-100">
                        <label class="form-label">Currency</label>
                        <select class="select-single-no-search">
                          <option label="&nbsp;"></option>
                          <option value="R$">R$</option>
                          <option value="€">€</option>
                          <option value="¥" selected="selected">¥</option>
                          <option value="$">$</option>
                          <option value="£">£</option>
                          <option value="...">...</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Thousand Separator</label>
                        <input type="text" class="form-control" value="," />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Decimal Separator</label>
                        <input type="text" class="form-control" value="." />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Number of Decimals</label>
                        <input type="text" class="form-control" value="2" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-content">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6">
                <p class="mb-0 text-muted text-medium">
                  Colored Strategies 2021
                </p>
              </div>
              <div class="col-sm-6 d-none d-sm-block">
                <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
                  <li class="breadcrumb-item mb-0 text-medium">
                    <a
                      href="https://1.envato.market/BX5oGy"
                      target="_blank"
                      class="btn-link"
                      >Review</a
                    >
                  </li>
                  <li class="breadcrumb-item mb-0 text-medium">
                    <a
                      href="https://1.envato.market/BX5oGy"
                      target="_blank"
                      class="btn-link"
                      >Purchase</a
                    >
                  </li>
                  <li class="breadcrumb-item mb-0 text-medium">
                    <a
                      href="https://acorn-html-docs.coloredstrategies.com/"
                      target="_blank"
                      class="btn-link"
                      >Docs</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div
      class="modal fade modal-right scroll-out-negative"
      id="settings"
      data-bs-backdrop="true"
      tabindex="-1"
      role="dialog"
      aria-labelledby="settings"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable full" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Theme Settings</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="scroll-track-visible">
              <div class="mb-5" id="color">
                <label class="mb-3 d-inline-block form-label">Color</label>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-blue"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="blue-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT BLUE</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-blue"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="blue-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK BLUE</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-teal"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="teal-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT TEAL</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-teal"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="teal-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK TEAL</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-sky"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="sky-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT SKY</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-sky"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="sky-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK SKY</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-red"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="red-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT RED</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-red"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="red-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK RED</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-green"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="green-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT GREEN</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-green"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="green-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK GREEN</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-lime"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="lime-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT LIME</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-lime"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="lime-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK LIME</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-pink"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="pink-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT PINK</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-pink"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="pink-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK PINK</span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="row d-flex g-3 justify-content-between flex-wrap mb-3"
                >
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="light-purple"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="purple-light"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >LIGHT PURPLE</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="dark-purple"
                    data-parent="color"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow color">
                      <div class="purple-dark"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >DARK PURPLE</span
                      >
                    </div>
                  </a>
                </div>
              </div>
              <div class="mb-5" id="navcolor">
                <label class="mb-3 d-inline-block form-label"
                  >Override Nav Palette</label
                >
                <div class="row d-flex g-3 justify-content-between flex-wrap">
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="default"
                    data-parent="navcolor"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">DEFAULT</span>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="light"
                    data-parent="navcolor"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div
                        class="figure figure-secondary figure-light top"
                      ></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">LIGHT</span>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="dark"
                    data-parent="navcolor"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-muted figure-dark top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">DARK</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="mb-5" id="behaviour">
                <label class="mb-3 d-inline-block form-label"
                  >Menu Behaviour</label
                >
                <div class="row d-flex g-3 justify-content-between flex-wrap">
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="pinned"
                    data-parent="behaviour"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-primary left large"></div>
                      <div class="figure figure-secondary right small"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">PINNED</span>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="unpinned"
                    data-parent="behaviour"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-primary left"></div>
                      <div class="figure figure-secondary right"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >UNPINNED</span
                      >
                    </div>
                  </a>
                </div>
              </div>
              <div class="mb-5" id="layout">
                <label class="mb-3 d-inline-block form-label">Layout</label>
                <div class="row d-flex g-3 justify-content-between flex-wrap">
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="fluid"
                    data-parent="layout"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">FLUID</span>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-50 option col"
                    data-value="boxed"
                    data-parent="layout"
                  >
                    <div class="card rounded-md p-3 mb-1 no-shadow">
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom small"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">BOXED</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="mb-5" id="radius">
                <label class="mb-3 d-inline-block form-label">Radius</label>
                <div class="row d-flex g-3 justify-content-between flex-wrap">
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="rounded"
                    data-parent="radius"
                  >
                    <div
                      class="card rounded-md radius-rounded p-3 mb-1 no-shadow"
                    >
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">ROUNDED</span>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="standard"
                    data-parent="radius"
                  >
                    <div
                      class="card rounded-md radius-regular p-3 mb-1 no-shadow"
                    >
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle"
                        >STANDARD</span
                      >
                    </div>
                  </a>
                  <a
                    href="#"
                    class="flex-grow-1 w-33 option col"
                    data-value="flat"
                    data-parent="radius"
                  >
                    <div class="card rounded-md radius-flat p-3 mb-1 no-shadow">
                      <div class="figure figure-primary top"></div>
                      <div class="figure figure-secondary bottom"></div>
                    </div>
                    <div class="text-muted text-part">
                      <span class="text-extra-small align-middle">FLAT</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade modal-right scroll-out-negative"
      id="niches"
      data-bs-backdrop="true"
      tabindex="-1"
      role="dialog"
      aria-labelledby="niches"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable full" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Niches</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="scroll-track-visible">
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Classic Dashboard</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/classic-dashboard.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="https://acorn-html-classic-dashboard.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-classic-dashboard.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-classic-dashboard.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Medical Assistant</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/medical-assistant.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="https://acorn-html-medical-assistant.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-medical-assistant.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-medical-assistant.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Service Provider</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/service-provider.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="https://acorn-html-service-provider.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-service-provider.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-service-provider.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Elearning Portal</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/elearning-portal.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="https://acorn-html-elearning-portal.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-elearning-portal.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-elearning-portal.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Ecommerce Platform</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/ecommerce-platform.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="index.html"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-ecommerce-platform.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-ecommerce-platform.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label class="mb-2 d-inline-block form-label"
                  >Starter Project</label
                >
                <div
                  class="hover-reveal-buttons position-relative hover-reveal cursor-default"
                >
                  <div class="position-relative mb-3 mb-lg-5 rounded-sm">
                    <img
                      src="https://acorn.coloredstrategies.com/img/page/starter-project.webp"
                      class="img-fluid rounded-sm lower-opacity border border-separator-light"
                      alt="card image"
                    />
                    <div
                      class="position-absolute reveal-content rounded-sm absolute-center-vertical text-center w-100"
                    >
                      <a
                        target="_blank"
                        href="https://acorn-html-starter-project.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Html
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-laravel-starter-project.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        Laravel
                      </a>
                      <a
                        target="_blank"
                        href="https://acorn-dotnet-starter-project.coloredstrategies.com/"
                        class="btn btn-primary btn-sm sw-10 sw-lg-12 d-block mx-auto my-1"
                      >
                        .Net5
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-buttons-container">
      <button
        type="button"
        class="btn settings-button btn-primary p-0"
        data-bs-toggle="modal"
        data-bs-target="#settings"
        id="settingsButton"
      >
        <span
          class="d-inline-block no-delay"
          data-bs-delay="0"
          data-bs-offset="0,3"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="Settings"
        >
          <i data-acorn-icon="paint-roller" class="position-relative"></i>
        </span>
      </button>
      <button
        type="button"
        class="btn settings-button btn-primary p-0"
        data-bs-toggle="modal"
        data-bs-target="#niches"
        id="nichesButton"
      >
        <span
          class="d-inline-block no-delay"
          data-bs-delay="0"
          data-bs-offset="0,3"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="Niches"
        >
          <i data-acorn-icon="toy" class="position-relative"></i>
        </span>
      </button>
    </div>
    <div
      class="modal fade modal-under-nav modal-search modal-close-out"
      id="searchPagesModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header border-0 p-0">
            <button
              type="button"
              class="btn-close btn btn-icon btn-icon-only btn-foreground"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body ps-5 pe-5 pb-0 border-0">
            <input
              id="searchPagesInput"
              class="form-control form-control-xl borderless ps-0 pe-0 mb-1 auto-complete"
              type="text"
              autocomplete="off"
            />
          </div>
          <div
            class="modal-footer border-top justify-content-start ps-5 pe-5 pb-3 pt-3 border-0"
          >
            <span class="text-alternate d-inline-block m-0 me-3">
              <i
                data-acorn-icon="arrow-bottom"
                data-acorn-size="15"
                class="text-alternate align-middle me-1"
              ></i>
              <span class="align-middle text-medium">Navigate</span>
            </span>
            <span class="text-alternate d-inline-block m-0 me-3">
              <i
                data-acorn-icon="arrow-bottom-left"
                data-acorn-size="15"
                class="text-alternate align-middle me-1"
              ></i>
              <span class="align-middle text-medium">Select</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% include 'admin-user/include/footer-js.html'%}
  </body>
</html>
