    {% load static %}
    <script src="https://kit.fontawesome.com/47080b3c1e.js" crossorigin="anonymous"></script>
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/monochrome/bundle.js' %}"></script>

    <!-- Choice Js -->
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

    <!-- Swiper Js -->
    <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Index Js -->
    <script src="{% static 'assets/js/pages/job-list.init.js' %}"></script>

    <!-- Switcher Js -->
    <script src="{% static 'assets/js/pages/switcher.init.js' %}"></script>

    <script src="{% static 'assets/js/pages/index.init.js' %}"></script>

    <!-- App Js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

    <script src="https://kit.fontawesome.com/47080b3c1e.js" crossorigin="anonymous"></script>