{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About Us | ACT - American College Of Technology </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta content="Themesdesign" name="author" />
   {% include 'include/head.html'%}
  </head>

  <body>

    <!-- Begin page -->
    <div>
       {% include 'include/navbar.html' %}


      <div class="main-content">
        <div class="page-content">
          <!-- Start home -->
          <section class="page-title-box">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="text-center text-white">
                    <h3 class="mb-4">About Us</h3>
                    <div class="page-next">
                      <nav
                        class="d-inline-block"
                        aria-label="breadcrumb text-center"
                      >
                        <ol class="breadcrumb justify-content-center">
                          <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Company</a>
                          </li>
                          <li
                            class="breadcrumb-item active"
                            aria-current="page"
                          >
                            About Us
                          </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!-- end home -->

          <!-- START SHAPE -->
          <div class="position-relative" style="z-index: 1">
            <div class="shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path
                  fill=""
                  fill-opacity="1"
                  d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
                ></path>
              </svg>
            </div>
          </div>
          <!-- END SHAPE -->

          <!-- START ABOUT -->
          <section class="section overflow-hidden">
            <div class="container">
              <div class="row align-items-center g-0">
                <div class="col-lg-6">
                  <div class="section-title me-lg-5">
                    <h6 class="sub-title">About Us</h6>
                    <h2 class="title mb-4">
                      Why
                      <span class="text-warning fw-bold">35,000+</span> People
                      Trust On Jobcy?
                    </h2>

                    <p class="text-muted">
                      Start working with Jobcy that can provide everything you
                      need to generate awareness, drive traffic, connect. Dummy
                      text is text that is used in the publishing industry or by
                      web designers to occupy the space which will later be
                      filled with 'real' content.
                    </p>

                    <div class="row mt-4 pt-2">
                      <div class="col-md-6">
                        <ul
                          class="list-unstyled about-list text-muted mb-0 mb-md-3"
                        >
                          <li>Digital Marketing Solutions</li>
                          <li>Our Talented & Experienced Marketing Agency</li>
                          <li>Creative Design</li>
                          <li>New jobs Innovation</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul class="list-unstyled about-list text-muted">
                          <li>Create Resume</li>
                          <li>5000+ Comnpanies</li>
                          <li>Our Blog</li>
                          <li>and more...</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mt-3">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-primary btn-hover"
                        >Learn More
                        <i class="uil uil-angle-right-b align-middle"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="about-img mt-4 mt-lg-0">
                    <img
                      src="{% static 'assets/images/about/img-01.jpg' %}"
                      alt=""
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!-- END ABOUT -->

          <!-- COUNTER START -->
          <section class="section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="counter-box mt-3">
                    <div class="counters text-center">
                      <h5 class="counter mb-0">10,000+</h5>
                      <h6 class="fs-16 mt-3">Available Jobs</h6>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-3 col-md-6">
                  <div class="counter-box mt-3">
                    <div class="counters text-center">
                      <h5 class="counter mb-0">7500+</h5>
                      <h6 class="fs-16 mt-3">Applications</h6>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-3 col-md-6">
                  <div class="counter-box mt-3">
                    <div class="counters text-center">
                      <h5 class="counter mb-0">8.85K</h5>
                      <h6 class="fs-16 mt-3">Positive Feedback</h6>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-3 col-md-6">
                  <div class="counter-box mt-3">
                    <div class="counters text-center">
                      <h5 class="counter mb-0">9875</h5>
                      <h6 class="fs-16 mt-3">Members</h6>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!-- COUNTER END -->

          <!-- START feature -->
          <section class="section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="section-title text-center mb-5">
                    <h3 class="title mb-4">Key Features</h3>
                    <p class="para-desc text-muted mx-auto">
                      Start working with Jobcy that can provide everything you
                      need to generate awareness, drive traffic, connect.
                    </p>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
              <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-object-ungroup"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Manage Job Ads</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-telegram-alt"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Create CV</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-lock-access"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Privacy Policy</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-user-md"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Recruiter Profiles</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-airplay"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Display Jobs</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-rocket"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">For Agencies</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-history"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Quick Support</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-bookmark"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Bookmark Jobs</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                  <div
                    class="about-feature p-3 d-flex align-items-center rounded-3"
                  >
                    <div class="featrue-icon flex-shrink-0">
                      <i class="uim uim-graph-bar"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-18 mb-0">Real-time Analytics</h6>
                    </div>
                  </div>
                  <!--about-feature-->
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!-- END feature -->

          <!--START CTA-->
          <section class="section bg-light">
            <div class="container">
              <div class="row justify-content-center">
                <div class="section-title text-center">
                  <h3 class="title mb-4 pb-2">
                    See everything about your employee at one place.
                  </h3>
                  <p class="para-desc text-muted mx-auto">
                    Start working with Jobcy that can provide everything you
                    need to generate awareness, drive traffic, connect.
                  </p>
                  <div class="mt-4">
                    <a
                      href="javascript:void(0)"
                      class="btn btn-primary btn-hover mt-2"
                      ><i class="uil uil-rocket me-1"></i> Get Started Now</a
                    >
                    <a
                      href="javascript:void(0)"
                      class="btn btn-outline-primary btn-hover ms-sm-1 mt-2"
                      ><i class="uil uil-capsule me-1"></i> Free Trial</a
                    >
                  </div>
                </div>
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!--END CTA-->

    
        </div>
        <!-- End Page-content -->

      </div>
      <!-- end main content-->
      {% include 'include/footer.html' %}
    </div>
    <!-- END layout-wrapper -->
     {% include 'include/footerjs.html' %}
  </body>

  <!-- Mirrored from themesdesign.in/jobcy/layout/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Jun 2023 16:55:00 GMT -->
</html>
