<script src="https://kit.fontawesome.com/47080b3c1e.js" crossorigin="anonymous"></script>
<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false"
    aria-controls="MobNav">
    <i class="fas fa-bars me-2"></i>Dashboard Navigation
</a>
<div class="collapse" id="MobNav">
    <div class="dashboard-nav">
        <div class="dashboard-inner">
            <ul data-submenu-title="Main Navigation">
                <li class="{% if request.path == '/interviewer-dashboard/' %}active{% endif %}">
                    <a href="{% url 'interviewer-dashboard' %}"><i class="lni lni-dashboard me-2"></i>Dashboard</a>
                </li>
                <li class="{% if request.path == '/today-interviews/' %}active{% endif %}" >
                  <a href="{% url 'today-interviews' %}"><i class="fa-regular fa-calendar-days me-2"></i>Today Interviews</a>
              </li>
                <li class="{% if request.path == '/interviewer-job-list/' %}active{% endif %} ">
                    <a href="{% url 'interviewer-job-list' %}"><i class="lni lni-add-files me-2"></i>Jobs Lists</a>
                </li>
                <li class="{% if request.path == '/interviewer-interviews-list/' %}active{% endif %}" >
                    <a href="{% url 'interviewer-interviews-list' %}"><i class="lni lni-briefcase me-2"></i>Interviews</a>
                </li>
                <li class="{% if request.path == '/interview-scheduled/' %}active{% endif %}" >
                  <a href="{% url 'interview-scheduled' %}"><i class="lni lni-briefcase me-2"></i>Scheduled Interviews</a>
              </li>
              <li class="{% if request.path == '/interview-job-status/' %}active{% endif %}" >
                <a href="{% url 'interview-job-status' %}"><i class="fa-solid fa-user-tie me-2"></i>Candidate - Job Status</a>
            </li>
            </ul>
            <ul data-submenu-title="My Accounts">
                <li class="{% if request.path == '/interviewer-info/' %}active{% endif %}">
                  <a href="{% url 'interviewer-personal-info' %}"
                    ><i class="lni lni-user me-2"></i>My Profile
                  </a>
                </li>
                <li class="{% if request.path == '/user-change-password/' %}active{% endif %}">
                  <a href=""
                    ><i class="lni lni-lock-alt me-2"></i>Change Password</a
                  >
                </li>
                <li>
                  <a href="{% url 'logout' %}"
                    ><i class="lni lni-trash-can me-2"></i>Log Out</a
                  >
                </li>
              </ul>


        </div>
    </div>
</div>